Source: battery-monitor
Section: utils
Priority: optional
Maintainer: liubing <liubing@users.noreply.github.com>
Build-Depends: debhelper-compat (= 13), meson, valac,
               libgtk-3-dev, libayatana-appindicator3-dev,
               libjson-glib-dev

Package: battery-monitor
Architecture: amd64
Depends: libgtk-3-0, libayatana-appindicator3-1
Description: Linux 电池监控工具
 一个轻量级的 Linux 电池监控应用
